.black-piece {
    color: black;
}

.black-hovered-piece {
    * {
        color: $cyan;
        font-size: 9.5vmin;
        filter: drop-shadow( .25rem .25rem 0 rgba(65, 64, 64, 1));
    }
}

.black-selected-piece {
    * {
        color: $dark-cyan;
        filter: drop-shadow( .25rem .25rem 0 rgb(14, 14, 14));

        &:hover {
            font-size: 9.5vmin;
        }
    }
}

.black-ghost {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 6vmin;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-clip: border-box;
    color: $test-dark;
    z-index: 2;
    opacity: .8;

    &:hover {
        font-size: 7vmin;
        opacity: 1;
        filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
    }
}

.black-promote {
    color: $promote;
    z-index: 2;
    opacity: .8;

    &:hover {
        font-size: 9.5vmin;
        filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
    }
}

.black-capture {
    color: $warning;
    z-index: 2;
    opacity: .8;
    filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
}

.black-castle {
    color: $cream;
    z-index: 2;
    opacity: .8;
    filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
}

.black-getting-promoted {
    * {
        color: $promote;
        font-size: 9.5vmin;
        text-align: center;
        filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
    }
}
