.captured-zone {
    width: 100%;
    min-height: 95vmin;
    max-height: 95vmin;
    border-radius: 1.5rem;
    margin: 1.25vmin 0 1.25vmin 1.25vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3rem;
    }
}

.on-turn, .in-check, .game-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
}

.player-one-captured {
    border: .75rem solid $blue;-webkit-text-stroke-width: .1rem;
    // -webkit-text-stroke-color: rgb(0, 0, 0);
    background-color: rgb(175, 175, 175);
}

.player-two-captured {
    border: .75rem solid $offwhite;
    // -webkit-text-stroke-width: .15rem;
    // -webkit-text-stroke-color: rgb(26, 26, 26);
    background-color: rgb(65, 58, 83);
}

.taken-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    padding: .5rem 0;
}

.captures {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
}

.details {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 48vh;
    width: 95%;
}

.divider {
    width: 95%;
    height: .6rem;
    background-color: rgb(127, 127, 127);
    border-radius: 1rem;
}

.player-one {
    color: $offwhite;
}

.player-two {
    color: $blue;
}

.details-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.nameplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 4rem;
    line-height: 6rem;
}

.captured {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    text-align: center;
    line-height: 3.5rem;
    font-size: 3.5rem;
    height: 4rem;
}

.single-captured {
    display: none;
}

.game-end {
    font-size: 4.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
