@import "./variables.scss";
@import "./mixins.scss";
@import "./base-styles.scss";
@import "./table.scss";
@import "./board.scss";
@import "./captured-zone.scss";
@import "./app.scss";
@import "./square.scss";
@import "./piece.scss";
@import "./modals.scss";
@import "./media-queries.scss";
