@media screen and (max-aspect-ratio: 188/100) {
    .captures {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 1rem;
        height: fit-content;
    }

    .taken-wrapper {
        font-size: 4.5rem;
    }
    .in-check {
        font-size: 3rem;
    }

    .captured {
        grid-column: 1 / span 5;
        font-size: 2.8rem;
    }
    .nameplate {
        margin-top: 1rem;
        font-size: 3rem;
        font-stretch: ultra-condensed;
        line-height: 4.5rem;
    }
    .details {

        min-height: fit-content;
    }

    .login-form-wrap {

        h1 {
            font-size: 7vw;
            line-height: 7vw;
        }

        input {
            font-size: 3.5vw;
            line-height: 3.5vw;
            border-radius: 1.5vw;
        }

        .button-wrapper {
            grid-template-columns: 27vw 1fr 27vw;
            margin: 2vh;

            h2 {
                font-size: 7vh;
            }
        }
        button {
            border-radius: 1.5vw;
        }
    }
}

@media screen and (max-aspect-ratio: 148/100) {

    .in-check, .game-end {
        flex-direction: row;
        gap: 1rem;
        font-size: 3.75rem;
        margin-top: 1.5vmin;
    }

    .new-game, .promotion-selection {
        top: 55vh;
        right: 45vh;
        transform: translate(50%, -50%);
    }

    .captures {
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .captured {
        display: none;
    }

    .nameplate {
        display: none;
    }

    .details {
        height: fit-content;
    }

    .single-captured {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .turn-info {
    height: 6rem;
    display: block;
    font-size: 5.5rem;
    line-height: 6rem;
    order: 0;
    margin-top: 1.25vmin;
    overflow: hidden;
    }

    .on-turn {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 5rem;
        font-size: 3.5rem;
    }

    .game-board-wrap {
        min-height: 86vh;
        min-width: 86vh;
        margin: 0 1.25vmin 1.25vmin;
    }
    .game-board {
        min-height: 83vh;
        min-width: 83vh;
    }

    .inactive-details > .nameplate {
        display: none;
    }

    .details {
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details-wrap {
        min-height: 88vh;
        max-height: 88vh;
        align-items: center;
        justify-content: space-evenly;
    }

    .game-end {
        font-size: 4.5rem;
    }

    .login-form-wrap {

        input {
            font-size: 3.5vw;
            line-height: 3.5vw;
            border-radius: 1.75vmax;
        }

        svg {
            font-size: 4vw;
        }

        .button-wrapper {
            grid-template-columns: 25vw 1fr 25vw;

            h2 {
                font-size: 6vh;
            }
        }

        button {
            font-size: 5vh;
            width: 13vw;
            border-radius: 1.75vmax;
        }
    }

}

@media screen and (max-aspect-ratio: 125/100) {

    .new-game, .promotion-selection {
        top: 45vh;
        right: 50vw;
        transform: translate(50%, -50%);
    }

    .table-wrap {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .details-wrap {
        flex-direction: row;
        min-height: fit-content;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .details {
        height: 100%;
    }

    .captures {
        height: calc(22rem + 2vh);
    }

    .divider {
        height: calc(24rem + 2vh);
        width: 1.5rem;
        background-color: rgb(127, 127, 127);
        border-radius: 1rem;
    }

    .single-captured {
        margin-bottom: 1rem;
    }

    .turn-info {
        order: 2;
        margin-top: 0;
    }

    .game-board-wrap {
        margin-top: 1.75vmin;
    }

    .captured-zone {
        order: 2;
        width: 86vh;
        min-height: 33rem;
        max-height: 33rem;
        margin: 0 1.25rem 1.25rem 1.25rem
    }

    .login-form-wrap {
        h1 {
            font-size: 7vw;
        }

        input {
            font-size: 5vw;
            line-height: 5vw;
            border-radius: 1.5vw;
        }

        svg {
            font-size: 5.5vw;
        }

        .button-wrapper {
            grid-template-columns: 23vw 1fr 23vw;
            margin: 1vw;

            h2{
                font-size: 6vw;
            }
        }

        button {
            font-size: 4.5vw;
            width: 15vw;
            border-radius: 2vw;
        }
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .new-game, .promotion-selection {
        top: 45vh;
        right: 50vw;
        transform: translate(50%, -50%);
    }
 }

@media screen and (max-aspect-ratio: 23/25) {
    .new-game, .promotion-selection {
        top: 50vw;
        right: 50vw;
        transform: translate(50%, -50%);
    }
    .game-board-wrap {
        min-height: 95vmin;
        min-width: 95vmin;
    }
    .game-board {
        min-height: 91vmin;
        min-width: 91vmin;
    }

    .captured-zone {
        width: 95vmin;
    }

    .table-wrap {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        display: flex;
        justify-content: space-between;
    }

    .login-form-wrap {

        h1 {
            font-size: 7.5vw;
        }

        .form-group {
            width: 90vw;
        }

        input {
            width: 78vw;
            font-size: 6vw;
            line-height: 6vw;
            border-radius: 2.5vw;
        }

        svg {
            font-size: 6vw;
        }

        .button-wrapper {
            grid-template-columns: 30vw 1fr 30vw;
            gap: 2rem;
            margin: 1.5vmax;

            h2{
                font-size: 6vw;
            }
        }

        button {
            font-size: 5.5vw;
            width: 18vw;
            border-radius: 2.5vw;
        }
    }
}

@media screen and (max-aspect-ratio: 6/10) {

    .captured-zone {
        min-height: calc(96vh - (95vw + 6rem));
        flex-direction: column;
        justify-content: space-evenly;
    }
    .details-wrap {
        max-height: 100%;
    }

}



@media screen and (max-aspect-ratio: 560/1000) {

    .in-check, .game-end, .on-turn {
        margin: 0;
    }
    .new-game, .promotion-selection {
        top: 49vw;
        right: 50vw;
        transform: translate(50%, -50%);
    }

    .game-end {
        flex-direction: row;
    }

    .captured-zone {
        max-height: calc(99vh - 100vw);
        min-height: calc(99vh - 100vw);
    }

    .details-wrap {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .game-board-wrap {
        margin-top: 1.25vmin;
    }

    .nameplate {
        margin-top: 1.5rem;
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem;
        * {
            font-size: 3rem;
        }
    }

    .captured {
        display: flex;
        align-items: center;
        font-size: 3rem;
    }

    .single-captured {
        display: none;
    }

    .turn-info {
        display: none;
    }

    .inactive-details > .nameplate {
        margin-top: 1rem;
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem;
        font-size: 3rem;
        * {
            font-size: 3rem;
        }
    }

    .table-wrap {
        height: 45vh;
        justify-content: flex-start;
    }
    .divider {
        width: 95%;
        min-height: 1rem;
        height: 1rem;
        background-color: rgb(127, 127, 127);
        border-radius: 1rem;
    }

    .captures {
        width: 100%;
        min-height: none;
        max-height: none;
        height: 100%;
        margin-bottom: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .taken-wrapper {
        font-size: 5.5vh;
    }

}

@media screen and (max-aspect-ratio: 46/100) {
    .captures {
        width: 100%;
        min-height: none;
        max-height: none;
        height: 100%;
        margin-bottom: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;

        * {
            font-size: 12vw;
        }
    }
}
