.promotion-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 75vmin;
    height: 29vmin;
    background-color: rgb(127, 127, 127);
    border: .3rem solid black;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    z-index: 6;
    position: absolute;
    top: 50vmin;
    right: 50vmin;
    transform: translate(50%, -50%);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .65;

    &:hover {
        opacity: 1;
    }

    p {
        grid-row: 1;
        grid-column: 1 / span 4;
        font-size: 4.25rem;
        font-weight: 900;

        &:hover {
            font-size: 4.25rem;
        }
    }

    .promotion-piece {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        font-size: 6rem;

        .choice {
            &:hover {
                font-size: 7rem;
                color: $teal;
                cursor: pointer;
                filter: drop-shadow( .25rem .25rem 0 rgba(50, 50, 50, 1));
            }

        }

    }
}

.new-game {
    position: absolute;
    top: 50vmin;
    right: 50vmin;
    transform: translate(50%, -50%);
    padding: 1rem;
    font-size: 7vmin;
    text-justify: center;
    background-color: grey;
    border: .3rem solid black;
    border-radius: 1.5rem;
    z-index: 100;
    opacity: .75;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}
