@media screen and (max-aspect-ratio: 60/100) {
    .app, .page-wrap, .table-wrap {
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
    }
    // .captured-zone {
    //     // min-height: calc(94.5vh - (95vw + 6rem));
    //     flex-direction: column;
    //     justify-content: space-evenly;
    // }
    // .details-wrap {
    //     max-height: 100%;
    // }
    // .captures {
    //     // height: 25vh;
    //     width: 95%;
    // }

    // .divider {
    //     height: 26.5vh;
    //     width: 1.5rem;
    //     background-color: rgb(127, 127, 127);
    //     border-radius: 1rem;
    // }

}
