@media screen and (max-aspect-ratio: 56/100) {
    .captured-zone {
        .details-wrap {
            .details {
                .nameplate {
                    margin-top: 1rem;
                    font-size: 4rem;
                    line-height: 6rem;

                    .name {
                        display: block;
                    }

                    .on-turn, .in-check, .game-end {
                        display: flex;
                        margin: 0;
                    }

                    .game-end {
                        flex-direction: row;
                    }

                    .captured {
                        display: flex;
                    }
                }
            }
        }
    }

    .new-game, .promotion-selection {
        top: 49vw;
        right: 50vw;
        transform: translate(50%, -50%);
    }

    .game-board-wrap {
        margin-top: 1.25vmin;
    }

    .single-captured {
        display: none;
    }

    .table-wrap {
        .game-wrap {
            .turn-info {
                display: none;
            }
        }
    }

    .login-form-wrap {
        height: 55vh;
    }

}
