.square {
    height: 100%;
    width: 100%;
    h2 {
        margin: 0 .5rem;
    }
}

.notation {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .25;
}




text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
