.table-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn-info {
    display: none;

    .in-check {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: .15rem;
        -webkit-text-stroke-color: black;
        color: $warning;
    }

    .game-end {
        -webkit-text-stroke-width: .15rem;
        -webkit-text-stroke-color: black;
        display: flex;
        flex-direction: column;
        font-size: 4.5rem;
        color: $warning;
    }
}
